.about-prev_container {
    display: flex;

    @include tablet() {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.about-prev_container-content {
    flex: 1;
}

.about-prev_container-img {
    width: 370px;
    height: 397px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.about-prev_content-text {
    max-width: 670px;
}

.about-prev_counter {
    padding: 70px 0;

    @include mobile() {
        padding: 35px 0;
    }
}

.about-prev_counter-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

    @include mobile() {
        flex-direction: column;
    }
}

.about-prev_counter-item {
    list-style-type: none;

    @include mobile() {
        margin-bottom: 30px;
    }
}

.about-prev_counter-num {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #D5E6F7;
}

.about-prev_counter-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #797FA0;
}

.index-about_btn {
    margin: 0 auto;
    width: min-content;
}