.big-form_form {
  background-color: #ECECF9;
  border-radius: 10px;
  padding: 80px 40px;

  @include mobile() {
    padding: 40px 20px;
  }

  .call-form_label-text,
  .big-form_text,
  .big-form_label-text {
    color: #20222D;
  }
}

.big-form_title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #14152D;
  margin-bottom: 20px;

  @include mobile() {
    font-size: 34px;
    line-height: 44px;
  }
}

.big-form_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.big-form_title--margin {
  margin-bottom: 45px;
}

.big-form_text {
  margin-bottom: 40px;
}

.big-form_label {
  display: flex;
  width: 50%;
  align-items: center;
  margin-bottom: 30px;
}

.big-form_textarea {
  resize: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  min-height: 88px;
}

.big-form_form .big-form_btn {
  display: block;
  width: max-content;
  margin: 0 auto;
  border: 1px solid #9F7FC2;
  margin-top: 80px;
}


.big-form_label-text {
  position: relative;
  padding-left: 32px;
}

.big-form_label-text::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #333399;
  border-radius: 3px;
  transition: 0.3s;
}

.big-form_label-text::after {
  content: '';
  position: absolute;
  opacity: 0;
  left: 4.5px;
  top: 18%;
  width: 12px;
  height: 10px;
  border-left: 2px solid #F189A3;
  border-bottom: 2px solid #F189A3;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.big-form_checkbox:checked+.big-form_label-text::after {
  opacity: 1;
  transition: 0.3s;
}

.big-form_checkbox {
  display: none;
}

.big-form_label-checkbox {
  cursor: pointer;
}