.button {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 18px 50px;
    min-width: 270px;
    width: max-content;
    text-align: center;
    background: linear-gradient(101.75deg, #E5007E 1.95%, #951681 100%);
    box-shadow: 0px 7px 25px rgba(8, 8, 18, 0.3);
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;

    @include mobile() {
        padding: 18px 20px;
        min-width: 240px;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 12px 25px rgba(8, 8, 18, 0.4);
    }
}

.button--color {
    background: #F189A3;
    box-shadow: 0px 5px 15px rgba(236, 91, 127, 0.5);

    &:hover {
        box-shadow: 0px 12px 15px rgba(236, 91, 127, 0.5);
    }
}

.button--insta {
    position: relative;
    display: flex;
    align-items: center;
}

.button--insta::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/Instagram.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}