.call-form {
    padding: 125px 0 125px 0;

    @include tablet() {
        padding: 90px 0;
    }
}

.call-form_wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.call-form_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include maxtablet() {
        justify-content: center;
    }
}

.call-form_title {
    @include maxtablet() {
        text-align: center;
    }
}

.call-form_label {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include tablet() {
        flex-wrap: wrap;
    }
}

.call-form_label-fieldset {
    padding: 0;
    border-color: #00E5AD;
    margin: 0 15px;
    border-radius: 5px;

    legend {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #00E5AD;
        padding: 0 5px;
        margin-left: 5px;
        border-radius: 5px;
    }

    input {
        border: none;
        background: transparent;
        width: 100%;
        box-sizing: border-box;
        padding: 0 16px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */


        color: rgba(255, 255, 255, 0.87);
    }
}

.call-form_select {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    outline: none;
    padding: 3px 16px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #797FA0;
}

.call-form_select-option {
    background-color: transparent;
}

.call-form_label:first-child {
    .call-form_label-fieldset {
        width: 300px;
    }
}

.call-form_label:nth-child(2),
.call-form_label:nth-child(3) {
    .call-form_label-fieldset {
        width: 328px;
    }
}

.call-form_label:nth-child(4) {
    .call-form_label-fieldset {
        width: 246px;
    }
}

.call-form_label:nth-child(5) {
    margin-bottom: 0;

    .call-form_label-fieldset {
        @include tablet() {
            width: 70%;
            margin-left: 0;
        }

    }
}

.call-form_btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 88px;
    border: 1px solid #7785FF;
    background-color: #7785FF;
    box-shadow: 0px 7px 25px rgba(8, 8, 18, 0.3);
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 80px;

    @include tablet() {
        margin-top: 50px;
    }
}

.call-form_label-fieldset--padding {
    padding: 3px 0;
    padding-bottom: 5px;
}

.call-form_label-text--none {
    @include maxtablet() {
        display: none;
    }
}

.call-form_label-text {
    font-size: 16px;

    @include tablet() {
        font-size: 14px;
    }
}

.call-form_label-text--margin {
    @include tablet() {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
}