.header {
    background-color: #14152dd6;
    box-shadow: 0px 7px 25px rgba(8, 8, 18, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.header_wrap {
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    @include maxtablet() {
        justify-content: space-between;
    }
}

.header_nav {
    margin-left: auto;
    padding: 27px 0;

    @include maxtablet() {
        margin: 0;
        padding: 0;
    }
}

.header_number {
    margin-right: auto;
    margin-left: 180px;

    @include maxscreen() {
        margin-left: 64px;
    }

    @include maxtablet() {
        margin: 0;
    }

    @include tablet() {
        display: none;
    }
}

.header_number-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #797FA0;
}

.header_number-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #00E5AD;
}

.header_msg {
    margin-right: 79px;
    margin-left: 10px;

    @include maxscreen() {
        margin-right: 20px;
    }

    @include mobile() {
        margin-right: 0;
    }
}

.header--scroll-active {
    opacity: 1;
    pointer-events: all;
    background-color: #14152df0;

    .logo_link {
        width: 100px;
        height: 80px;
    }
}

.header--active {
    opacity: 1;
    pointer-events: all;
    background-color: transparent;
}