.logo_link {
    display: block;
    width: 148px;
    height: 59px;
    transition: 0.3s;

    @include mobile() {
        width: 45px;
        height: 45px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logo_link-img-big {
    @include mobile() {
        display: none;
    }
}

.logo_link-img-small {
    display: none;

    @include mobile() {
        display: block;
    }
}