.main-form {
    background-image: url('../images/content/connection_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgba(121, 127, 160, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 80px 250px;
    text-align: center;

    .slick-prev {
        top: 10%;
        left: -15px;
        filter: grayscale(0);
    }

    .slick-next {
        top: 28%;
        right: -10px;
        filter: grayscale(0);
    }

    .slick-disabled {
        filter: grayscale(0.95);
    }

    .slick-dots {
        padding: 0;
        padding-top: 20px;
        margin: 0;
        display: flex;
        justify-content: center;

        li {
            list-style-type: none;
            padding: 0 5px;

            button {
                font-size: 0;
                padding: 0;
                width: 5px;
                height: 5px;
                background-color: #797FA0;
                border-radius: 50px;
                border: none
            }
        }

        .slick-active {
            button {
                background-color: #00E5AD;
            }
        }
    }
}

.main-form_title {
    margin-bottom: 20px;
}

.main-form_text {
    color: #797FA0;
    margin-bottom: 80px;
}

.main-form_form-input {
    background: #F5FBFF;
    border-radius: 10px;
    padding: 17px 30px;
    box-sizing: border-box;
    width: 570px;
    border: none;
}

.main-form_form-label:last-child {
    .main-form_form-input {
        padding-right: 185px;
    }
}

.main-form_form-label {
    position: relative;
}

.main-form_btn {
    position: absolute;
    top: -2px;
    right: 35px;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 18px 25px;
    min-width: 190px;
}