.messenger_wrap {
    background-color: #FFFFFF;
    box-shadow: 0px 7px 15px rgba(36, 62, 100, 0.15);
    border-radius: 22.5px;
}

.messenger_btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #7785FF;
    padding: 12px 70px;
}