.nav--header {
    @include maxtablet() {
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 999;
        background-color: #14152df0;
        transform: translate(50px, 60px) rotate(-10deg);
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }

    .nav_list-item-phone {
        @include maxtablet() {
            display: block;
        }
    }

    .nav_list {
        display: flex;
        padding: 0;
        margin: 0;

        @include maxtablet() {
            flex-direction: column;
        }
    }

    .nav_item-link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        padding: 0 40px;

        @include maxscreen() {
            padding: 0 20px;
        }

        @include maxtablet() {
            font-size: 36px;
            padding: 20px 40px;
            display: block;
        }

        @include mobile() {
            font-size: 30px;
            padding: 10px 20px;
        }
    }

    .nav_list-item:first-child {
        .nav_item-link {
            padding-left: 15px;

            @include maxtablet() {
                padding: 20px 40px;
            }

            @include mobile() {
                padding: 10px 20px;
            }
        }
    }

    .nav_list-item:last-child {
        .nav_item-link {
            padding-right: 15px;

            @include maxtablet() {
                padding: 20px 40px;
            }
        }
    }
}

.nav--header-active {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
    pointer-events: all;
}


/************************************************/


.nav_list-item {
    list-style-type: none;
}


.nav--footer {
    margin-right: 15px;

    .nav_list {
        padding: 0;
        margin: 0;
    }

    .nav_item-link {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        padding: 10px 0;
        display: block;
    }

    .nav_list-item:first-child {
        .nav_item-link {
            padding-top: 0;
        }
    }

    .nav_list-item:last-child {
        .nav_item-link {
            padding-bottom: 0;
        }
    }
}

.nav_list-item-phone {
    padding: 20px 40px;
    display: none;


}