<!DOCTYPE html>
html(lang="ru")
  include ../includes/common/head.pug
  +head('X-Day || О нас')
  body
    .canvas-animate
        <canvas id="snow"></canvas>
    .wrapper.wrapper--color-none
      include ../includes/components/header.pug
      .main
        section.about
          .about_wrap
            include ../includes/components/about-prev.pug
        .about-desc
          .about-desc_wrap
            .about-desc_text Мы стремимся к ясности во всем, что мы делаем. Мы создаем для Вас праздник, руководствуясь Вашими желаниями и предпочтениями. Наша команда смелая и это отражается в невероятном результате каждого мероприятия, который мы создали. Эмпатия - наш лучший инструмент.
            .about-desc_title Мы с большими идеями, а не с большим эго
        .bg-wraper
          section.about-hww
            .about-hww_wrap
              include ../includes/components/hww.pug
          .about-portfolio
            .about-portfolio_wrap
              ul.about-portfolio_tabs
                li.about-portfolio_tabs-item
                  .about-portfolio_tabs-icon
                    img(src="assets/images/icons/sun-umbrella.svg", alt="icon")
                  .about-portfolio_tabs-title Дни рождения
                li.about-portfolio_tabs-item
                  .about-portfolio_tabs-icon
                    img(src="assets/images/icons/sun-umbrella.svg", alt="icon")
                  .about-portfolio_tabs-title Дни рождения
                li.about-portfolio_tabs-item
                  .about-portfolio_tabs-icon
                    img(src="assets/images/icons/sun-umbrella.svg", alt="icon")
                  .about-portfolio_tabs-title Дни рождения
              .about-portfolio_content
                include ../includes/components/portfolio.pug
          .about-form
            .about-form_wrap
              include ../includes/components/main-form.pug
      include ../includes/components/footer.pug