<!DOCTYPE html>
html(lang="ru")
  include ../includes/common/head.pug
  +head('X-Day || Корпоративы')
  body
    .wrapper
        include ../includes/components/header.pug
        .main
            section.prev-desc
                .prev-desc_wrap.prev-desc_wrap--padding
                    .prev-desc_content
                        h4.prev-desc_content-title.main-title Корпоративы 
                        p.prev-desc_content-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох.
                        p.prev-desc_content-text Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции и тем больше устаешь от отдыха.
                    .prev-desc_img.prev-desc_img--size
                        img(src="assets/images/icons/cheers.svg", alt="space")
            section.direction-call
                .direction-call_wrap.direction-call_wrap--padding
                    .direction-call_card
                        include ../includes/components/little-card.pug
                        include ../includes/components/main-card.pug
                    h4.direction-call_title.main-title Выбери то, что тебе нужно
                    p.direction-call_text Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох. Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции и тем больше устаешь от отдыха. Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох. Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции и тем больше устаешь от отдыха.
                    a(href="#").button.direction-call_btn Услуги
            section.last-work
                .last-work_wrap.last-work_wrap--padding
                    h4.last-work_title.main-title Портфолио корпоративов
                    include ../includes/components/portfolio.pug
                .services-form
                    .services-form_wrap.services-form_wrap--padding
                        include ../includes/components/big-form.pug
        include ../includes/components/footer.pug
    