<!DOCTYPE html>
html(lang="ru")
  include ../includes/common/head.pug
  +head('X-Day || Главная')
  body
    .wrapper.wrapper--color-none
      .parallax-scroll_first(data-speed="2")
      .parallax-scroll_second(data-speed="2")
      .parallax-scroll_third(data-speed="2")
      include ../includes/components/header.pug
      .main
        .present
          .present_wrap
            .canvas-animate_index
              <canvas id="stars"></canvas>
            .present_video
              video(muted="true" preload="auto" autoplay="autoplay" loop="loop" width="100%" height="100%")
                source(src='assets/video/header-video.mp4', type='video/mp4')
            .present_mask
              img(src="assets/images/icons/x_day.svg", alt="mask")
            .present_text.present_text-left
              img(src="assets/images/icons/Event.svg", alt="Event")
            .present_block.present_block-left
              img(src="assets/images/icons/block.svg", alt="block-left")
            .present_text.present_text--right
              img(src="assets/images/icons/Place.svg", alt="Place")
            .present_block.present_block--right
              img(src="assets/images/icons/block.svg", alt="block-right")
            .present_btn
              a(href="#").button.btn-form-call-js Выбрать дату     
        section.index-about
          .index-about_wrap
            include ../includes/components/about-prev.pug
            .index-about_btn
              a(href="about.html").button О нас 
        section.call
          .call_wrap
            .call_card
              include ../includes/components/main-card.pug
            .call_content
              .call_content-title.main-title Нет - тривиальности и&nbsp;вторениям!
              .call_content-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох. Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции и тем больше устаешь от отдыха. А от различных суетных забот, связанных с организацией личных и корпоративных мероприятий — так и подавно.
        section.directions-prev
          .directions-prev_wrap
            .directions-prev_content
              h4.directions-prev_content-title.main-title Лучшие решения
              .directions-prev_content-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох. Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции и тем больше устаешь от отдыха.
            ul.directions-prev_card
              li.directions-prev_card-item
                .directions-prev_item-icon
                  img(src="assets/images/icons/cheers.svg", alt="icon")
                .directions-prev_item-title Корпоративные мероприятия
                .directions-prev_item-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего
              li.directions-prev_card-item
                .directions-prev_item-icon
                  img(src="assets/images/icons/sun-umbrella.svg", alt="icon")
                .directions-prev_item-title Сезонные праздники
                .directions-prev_item-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего
              li.directions-prev_card-item
                .directions-prev_item-icon
                  img(src="assets/images/icons/balloon.svg", alt="icon")
                .directions-prev_item-title Детские праздники
                .directions-prev_item-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего
              li.directions-prev_card-item
                .directions-prev_item-icon
                  img(src="assets/images/icons/cheers.svg", alt="icon")
                .directions-prev_item-title Приватные события
                .directions-prev_item-text Наслаждаться жизнью — удивительный навык, спасающий от рабочего
        .main-baner
          .main-banner_wrap
            img(src="assets/images/content/main-baner.png", alt="banner").main-banner_img
            .main-baner_btn
              a(href="#").button.btn-form-call-js Выбрать
        .bg-wraper
          section.last-work
            .last-work_wrap
              h4.last-work_title.main-title Последние работы
              include ../includes/components/portfolio.pug
          section.team
            .team_wrap
              .team_title.main-title Наша команда
              ul.team_list
                li.team_list-item
                  .team_item-img
                    img(src="assets/images/content/team-3.png", alt="avatar")
                  .team_item-desc 
                    a(href="#").team_item-social
                      svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.01786 3.875C5.73214 3.875 3.91071 5.73214 3.91071 7.98214C3.91071 10.2679 5.73214 12.0893 8.01786 12.0893C10.2679 12.0893 12.125 10.2679 12.125 7.98214C12.125 5.73214 10.2679 3.875 8.01786 3.875ZM8.01786 10.6607C6.55357 10.6607 5.33929 9.48214 5.33929 7.98214C5.33929 6.51786 6.51786 5.33929 8.01786 5.33929C9.48214 5.33929 10.6607 6.51786 10.6607 7.98214C10.6607 9.48214 9.48214 10.6607 8.01786 10.6607ZM13.2321 3.73214C13.2321 3.19643 12.8036 2.76786 12.2679 2.76786C11.7321 2.76786 11.3036 3.19643 11.3036 3.73214C11.3036 4.26786 11.7321 4.69643 12.2679 4.69643C12.8036 4.69643 13.2321 4.26786 13.2321 3.73214ZM15.9464 4.69643C15.875 3.41071 15.5893 2.26786 14.6607 1.33929C13.7321 0.410714 12.5893 0.125 11.3036 0.0535714C9.98214 -0.0178571 6.01786 -0.0178571 4.69643 0.0535714C3.41071 0.125 2.30357 0.410714 1.33929 1.33929C0.410714 2.26786 0.125 3.41071 0.0535714 4.69643C-0.0178571 6.01786 -0.0178571 9.98214 0.0535714 11.3036C0.125 12.5893 0.410714 13.6964 1.33929 14.6607C2.30357 15.5893 3.41071 15.875 4.69643 15.9464C6.01786 16.0179 9.98214 16.0179 11.3036 15.9464C12.5893 15.875 13.7321 15.5893 14.6607 14.6607C15.5893 13.6964 15.875 12.5893 15.9464 11.3036C16.0179 9.98214 16.0179 6.01786 15.9464 4.69643ZM14.2321 12.6964C13.9821 13.4107 13.4107 13.9464 12.7321 14.2321C11.6607 14.6607 9.16072 14.5536 8.01786 14.5536C6.83929 14.5536 4.33929 14.6607 3.30357 14.2321C2.58929 13.9464 2.05357 13.4107 1.76786 12.6964C1.33929 11.6607 1.44643 9.16072 1.44643 7.98214C1.44643 6.83929 1.33929 4.33929 1.76786 3.26786C2.05357 2.58929 2.58929 2.05357 3.30357 1.76786C4.33929 1.33929 6.83929 1.44643 8.01786 1.44643C9.16072 1.44643 11.6607 1.33929 12.7321 1.76786C13.4107 2.01786 13.9464 2.58929 14.2321 3.26786C14.6607 4.33929 14.5536 6.83929 14.5536 7.98214C14.5536 9.16072 14.6607 11.6607 14.2321 12.6964Z' fill='white')
                    .team_item-title Маргарита
                    .team_item-position арт-директор
                li.team_list-item
                  .team_item-img
                    img(src="assets/images/content/team-1.png", alt="avatar")
                  .team_item-desc 
                    a(href="#").team_item-social
                      svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.01786 3.875C5.73214 3.875 3.91071 5.73214 3.91071 7.98214C3.91071 10.2679 5.73214 12.0893 8.01786 12.0893C10.2679 12.0893 12.125 10.2679 12.125 7.98214C12.125 5.73214 10.2679 3.875 8.01786 3.875ZM8.01786 10.6607C6.55357 10.6607 5.33929 9.48214 5.33929 7.98214C5.33929 6.51786 6.51786 5.33929 8.01786 5.33929C9.48214 5.33929 10.6607 6.51786 10.6607 7.98214C10.6607 9.48214 9.48214 10.6607 8.01786 10.6607ZM13.2321 3.73214C13.2321 3.19643 12.8036 2.76786 12.2679 2.76786C11.7321 2.76786 11.3036 3.19643 11.3036 3.73214C11.3036 4.26786 11.7321 4.69643 12.2679 4.69643C12.8036 4.69643 13.2321 4.26786 13.2321 3.73214ZM15.9464 4.69643C15.875 3.41071 15.5893 2.26786 14.6607 1.33929C13.7321 0.410714 12.5893 0.125 11.3036 0.0535714C9.98214 -0.0178571 6.01786 -0.0178571 4.69643 0.0535714C3.41071 0.125 2.30357 0.410714 1.33929 1.33929C0.410714 2.26786 0.125 3.41071 0.0535714 4.69643C-0.0178571 6.01786 -0.0178571 9.98214 0.0535714 11.3036C0.125 12.5893 0.410714 13.6964 1.33929 14.6607C2.30357 15.5893 3.41071 15.875 4.69643 15.9464C6.01786 16.0179 9.98214 16.0179 11.3036 15.9464C12.5893 15.875 13.7321 15.5893 14.6607 14.6607C15.5893 13.6964 15.875 12.5893 15.9464 11.3036C16.0179 9.98214 16.0179 6.01786 15.9464 4.69643ZM14.2321 12.6964C13.9821 13.4107 13.4107 13.9464 12.7321 14.2321C11.6607 14.6607 9.16072 14.5536 8.01786 14.5536C6.83929 14.5536 4.33929 14.6607 3.30357 14.2321C2.58929 13.9464 2.05357 13.4107 1.76786 12.6964C1.33929 11.6607 1.44643 9.16072 1.44643 7.98214C1.44643 6.83929 1.33929 4.33929 1.76786 3.26786C2.05357 2.58929 2.58929 2.05357 3.30357 1.76786C4.33929 1.33929 6.83929 1.44643 8.01786 1.44643C9.16072 1.44643 11.6607 1.33929 12.7321 1.76786C13.4107 2.01786 13.9464 2.58929 14.2321 3.26786C14.6607 4.33929 14.5536 6.83929 14.5536 7.98214C14.5536 9.16072 14.6607 11.6607 14.2321 12.6964Z' fill='white')
                    .team_item-title Маргарита
                    .team_item-position арт-директор
                li.team_list-item
                  .team_item-img
                    img(src="assets/images/content/team-2.png", alt="avatar")
                  .team_item-desc 
                    a(href="#").team_item-social
                      svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.01786 3.875C5.73214 3.875 3.91071 5.73214 3.91071 7.98214C3.91071 10.2679 5.73214 12.0893 8.01786 12.0893C10.2679 12.0893 12.125 10.2679 12.125 7.98214C12.125 5.73214 10.2679 3.875 8.01786 3.875ZM8.01786 10.6607C6.55357 10.6607 5.33929 9.48214 5.33929 7.98214C5.33929 6.51786 6.51786 5.33929 8.01786 5.33929C9.48214 5.33929 10.6607 6.51786 10.6607 7.98214C10.6607 9.48214 9.48214 10.6607 8.01786 10.6607ZM13.2321 3.73214C13.2321 3.19643 12.8036 2.76786 12.2679 2.76786C11.7321 2.76786 11.3036 3.19643 11.3036 3.73214C11.3036 4.26786 11.7321 4.69643 12.2679 4.69643C12.8036 4.69643 13.2321 4.26786 13.2321 3.73214ZM15.9464 4.69643C15.875 3.41071 15.5893 2.26786 14.6607 1.33929C13.7321 0.410714 12.5893 0.125 11.3036 0.0535714C9.98214 -0.0178571 6.01786 -0.0178571 4.69643 0.0535714C3.41071 0.125 2.30357 0.410714 1.33929 1.33929C0.410714 2.26786 0.125 3.41071 0.0535714 4.69643C-0.0178571 6.01786 -0.0178571 9.98214 0.0535714 11.3036C0.125 12.5893 0.410714 13.6964 1.33929 14.6607C2.30357 15.5893 3.41071 15.875 4.69643 15.9464C6.01786 16.0179 9.98214 16.0179 11.3036 15.9464C12.5893 15.875 13.7321 15.5893 14.6607 14.6607C15.5893 13.6964 15.875 12.5893 15.9464 11.3036C16.0179 9.98214 16.0179 6.01786 15.9464 4.69643ZM14.2321 12.6964C13.9821 13.4107 13.4107 13.9464 12.7321 14.2321C11.6607 14.6607 9.16072 14.5536 8.01786 14.5536C6.83929 14.5536 4.33929 14.6607 3.30357 14.2321C2.58929 13.9464 2.05357 13.4107 1.76786 12.6964C1.33929 11.6607 1.44643 9.16072 1.44643 7.98214C1.44643 6.83929 1.33929 4.33929 1.76786 3.26786C2.05357 2.58929 2.58929 2.05357 3.30357 1.76786C4.33929 1.33929 6.83929 1.44643 8.01786 1.44643C9.16072 1.44643 11.6607 1.33929 12.7321 1.76786C13.4107 2.01786 13.9464 2.58929 14.2321 3.26786C14.6607 4.33929 14.5536 6.83929 14.5536 7.98214C14.5536 9.16072 14.6607 11.6607 14.2321 12.6964Z' fill='white')
                    .team_item-title Маргарита
                    .team_item-position арт-директор
          .home-form
            .home-form_wrap
              include ../includes/components/main-form.pug
        section.reviews
          .reviews_wrap
            h4.reviews_title.main-title Отзывы о нашем сервисе
            ul.reviews_slider
              - var sliderList = [{num:'1'}, {num:'2'}, {num:'3'}, {num:'4'}, {num:'5'}, {num:'6'}];
              each item in sliderList
                li.reviews_slider-item 
                  .reviews_slider-item-wrap
                    .reviews_item-content
                      .reviews_content-img
                        img(src="assets/images/content/ava.png", alt="ava")
                      .reviews_content-name Max Morozov
                    .reviews_item-text Создали современные корпоративные мероприятия и уникальные частные праздники для успешного бизнеса и ярких личностей! Рекомендую
                    .reviews_btn
                      a(href="#").button.button--insta Профиль Instagram
        section.call-form
          .call-form_wrap
            h4.call-form_title.main-title Обсудим?
            form(action="#", method="post").call-form_form
              label.call-form_label
                .call-form_label-text Меня зовут
                fieldset.call-form_label-fieldset
                  legend Ваше имя
                  input(type="text" placeholder="Как к вам обращаться")
              label.call-form_label
                .call-form_label-text Я хочу уложиться в бюджет
                fieldset.call-form_label-fieldset
                  legend Ваш бюджет
                  input(type="text" placeholder="Выберите диапазон цен")
              label.call-form_label
                .call-form_label-text и провести незабываемый праздник
                fieldset.call-form_label-fieldset.call-form_label-fieldset--padding
                  legend Выберите событие
                  select(name='list1').call-form_select
                    option.call-form_select-option Корпоратив
                    option.call-form_select-option День рождения
                    option.call-form_select-option Юбилей
                    option.call-form_select-option Тимбилдинг
                    option.call-form_select-option Детский ивент
                    option.call-form_select-option Фестиваль
                    option.call-form_select-option Конференция
                    option.call-form_select-option Свадьба
              label.call-form_label
                .call-form_label-text в этот день
                fieldset.call-form_label-fieldset
                  legend Выберите дату
                  input(type="date" placeholder="ДД.ММ.ГГГГ")
              label.call-form_label
                .call-form_label-text 
                  span.call-form_label-text--none с вашей помощью. 
                  | Вы можете связаться со мной, позвонив по этому номеру
                fieldset.call-form_label-fieldset
                  legend Телефон
                  input(type="text" placeholder="+380 (__) ___ __ __")
              div.call-form_label-text--margin Спасибо!
              button(type="submit").call-form_btn Отправить
        .istagram-widget
      include ../includes/components/footer.pug