<!DOCTYPE html>
html(lang="ru")
  include ../includes/common/head.pug
  +head('X-Day || Портфолио')
  body
    .canvas-animate
        <canvas id="snow"></canvas>
    .wrapper.wrapper--color-none
        include ../includes/components/header.pug
        .main
            .portfolio-data
                .portfolio-data_wrap
                    .portfolio-data_info-data
                        .portfolio-data_info
                            .portfolio-data_info-title.main-title  Детский День рождения Ани
                            ul.portfolio-data_list
                                li.portfolio-data_list-item
                                    .portfolio-data_item-name Дата
                                    .portfolio-data_item-text 22 марта 2019
                                li.portfolio-data_list-item
                                    .portfolio-data_item-name Тип события
                                    .portfolio-data_item-text Детский День рождения
                                li.portfolio-data_list-item
                                    .portfolio-data_item-name Клиент(Ы)
                                    .portfolio-data_item-text Luxoft
                                li.portfolio-data_list-item
                                    .portfolio-data_item-name Место проведения
                                    .portfolio-data_item-text Метеор
                        .portfolio-data_gallery
                            ul.portfolio-data_gallery-list
                                li.portfolio-data_gallery-item
                                    img(src="assets/images/content/Rectangle.png", alt="image")
            .portfolio-desc
                .portfolio-desc_wrap
                    .portfolio-desc_img
                        img(src="assets/images/content/portfolio-main-1.png", alt="image")
                    .portfolio-desc_text
                        p Чем ближе день рождения ребенка, тем острее у нас, родителей вопрос: `Где можно отпраздновать детский день рождения?` Вы уже перечитали все `отзывы, уже побывали в гостях на днях рождения у друзей на 1 год, 2 года, 3 года, 4 года и каждый раз в новом месте.
            .portfolio-desc
                .portfolio-desc_wrap
                    .portfolio-desc_text.portfolio-desc_text--padding
                        p Чем ближе день рождения ребенка, тем острее у нас, родителей вопрос: `Где можно отпраздновать детский день рождения?` Вы уже перечитали все `отзывы, уже побывали в гостях на днях рождения у друзей на 1 год, 2 года, 3 года, 4 года и каждый раз в новом месте.
                    .portfolio-desc_img
                        img(src="assets/images/content/portfolio-main-2.png", alt="image")
            .big-gallery
                .big-gallery_wrap
                    .big-gallery_title.main-title  Галерея
                    .big-gallery_gallery-wrap
                        .big-gallery_gallery
                            .big-gallery_gallery-screen
                                img(src="assets/images/content/portfolio-main-1.png", alt="gallery")
                                img(src="assets/images/content/Rectangle.png", alt="gallery")
                                img(src="assets/images/content/portfolio-main-2.png", alt="gallery")
                                img(src="assets/images/content/Rectangle.png", alt="gallery")
                                img(src="assets/images/content/portfolio-main-2.png", alt="gallery")
                            .big-gallery_gallery-nav
                                .big-gallery_gallery-nav-wrap
                                    img(src="assets/images/content/portfolio-main-1.png", alt="gallery nav")
                                .big-gallery_gallery-nav-wrap
                                    img(src="assets/images/content/Rectangle.png", alt="gallery nav")
                                .big-gallery_gallery-nav-wrap
                                    img(src="assets/images/content/portfolio-main-2.png", alt="gallery nav")
                                .big-gallery_gallery-nav-wrap
                                    img(src="assets/images/content/Rectangle.png", alt="gallery nav")
                                .big-gallery_gallery-nav-wrap
                                    img(src="assets/images/content/portfolio-main-2.png", alt="gallery nav")
                        .big-gallery_desc  Чем ближе день рождения ребенка, тем острее у нас, родителей вопрос: `Где можно отпраздновать детский день рождения?` Вы уже перечитали все `отзывы, уже побывали в гостях на днях рождения у друзей на 1 год, 2 года, 3 года, 4 года и каждый раз в новом месте. Вам понравилось, но хочется чего-то еще… Наш центр, наши залы и аниматоры уже ждут Вас. Мы делаем всё, чтобы превзойти Ваши ожидания
            .portfolio-report
                .portfolio-report_wrap
                    .portfolio-report-content
                        .portfolio-report_title.main-title Что было организовано </br>на этом мероприятии
                        ul.portfolio-report_list
                            li.portfolio-report_list-item Разработка сценария мероприятия
                            li.portfolio-report_list-item Квест
                            li.portfolio-report_list-item Декор
                            li.portfolio-report_list-item Квест на местности
                            li.portfolio-report_list-item Фотограф
                            li.portfolio-report_list-item Выпечка
                        .portfolio-report_result
                            .portfolio-report_result-text Всего мероприятие обошлось:
                            .portfolio-report_result-price 14 542 грн
            .event-reviews
                .event-reviews_wrap
                    .event-reviews_content
                        .event-reviews_content-main
                            .event-reviews_main-title Отзыв клиента
                            .event-reviews_main-client
                                .event-reviews_client-ava
                                    img(src="assets/images/content/ava.png", alt="ava")
                                .event-reviews_client-data
                                    .event-reviews_client-name Max Morozov
                                    .event-reviews_client-position клиент
                            .event-reviews_main-text Создали современные корпоративные мероприятия и уникальные частные праздники для успешного бизнеса и ярких личностей! Рекомендую
                            a(href="#").button.button--insta Профиль Instagram
                        .event-reviews_content-img
                            .event-reviews_content-img-wrap
                                img(src="assets/images/content/review-img.png", alt="drink")
        include ../includes/components/footer.pug