.about-portfolio_wrap {
  max-width: 1170px;
  padding: 0 15px;
  padding-top: 250px;
  margin: 0 auto;

  @include mobile() {
    padding-top: 50px;
  }
}

.about-portfolio_tabs {
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  display: flex;
  max-width: 1170px;
  overflow-x: scroll;
  scrollbar-color: #7785FF #000000;
  scrollbar-width: thin;
}

.about-portfolio_tabs-item {
  list-style-type: none;
  padding-right: 80px;
  cursor: pointer;
}

.about-portfolio_tabs-item:last-child {
  padding-right: 0;
}

.about-portfolio_tabs-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: max-content;
  padding-top: 20px;
  transition: 0.3s;
}



.about-portfolio_tabs-item:hover {
  .about-portfolio_tabs-title {
    color: #E5007E;
  }
}

.about-portfolio_tabs-item--active {
  .about-portfolio_tabs-title {
    color: #E5007E;
  }
}

.about-portfolio_tabs-icon {
  width: 60px;
  height: 60px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about-portfolio_content {
  padding-top: 80px;
}