.about {
  background-image: url(../images/content/bg_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_wrap {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 120px;
}