.about-desc_wrap {
  max-width: 1170px;
  padding: 0 15px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include mintablet() {
    flex-direction: column-reverse;
  }
}

.about-desc_text {
  flex: 1;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  color: #FFFFFF;
  padding-right: 15px;

  @include mintablet() {
    text-align: left;
  }
}

.about-desc_title {
  flex: 1;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-left: 15px;

  @include mintablet() {
    text-align: center;
    margin-bottom: 30px;
  }

  @include mobile() {
    font-size: 28px;
    line-height: 38px;
  }
}