.index-about {
    padding: 170px 0 125px 0;
    background-image: url('../images/content/bg_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet() {
        padding-top: 50px;
    }

    @include mobile() {
        padding: 50px 0;
    }
}

.index-about_wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}