.last-work {
    padding: 125px 0 125px 0;
}

.last-work_wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.last-work_wrap--padding {
    padding-top: 250px;
}

.last-work_title {
    @include maxtablet() {
        text-align: center;
    }
}