.main-baner {
    padding: 0 0 125px 0;

    @include mobile() {
        padding: 0;
    }
}

.main-banner_wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    @include mobile() {
        min-height: 270px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.main-baner_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    text-align: center;
}