.present_wrap {
    height: 100vh;
    max-height: 920px;
    background-image: url('../images/content/main_block.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.present_btn {
    margin: auto;
    margin-bottom: 28vh;
}