.present_wrap {
    height: 100vh;
    max-height: 920px;
    display: flex;
    position: relative;

    @include tablet() {
        height: 65vh;
    }

    @include mobile() {
        height: 600px;
    }
}

.present_video {
    position: absolute;
    z-index: -2;
    width: 648px;
    height: 648px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    overflow: hidden;

    @include tablet() {
        height: 327px;
        width: 100%;
        top: 43%;
    }

    @include mobile() {
        height: auto;
        width: 100%;
        top: 43%;
    }
}

.present_mask {
    position: absolute;
    z-index: 1;
    width: 650px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    overflow: hidden;

    @include tablet() {
        height: 370px;
        width: 560px;
        top: 43%;
    }

    @include mobile() {
        height: auto;
        width: 100%;
        top: 43%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.present_mask-desc {
    @include tablet() {
        display: none;
    }
}

.present_mask-tablet {
    display: none;

    @include tablet() {
        display: block;
    }

    @include mobile() {
        display: none;
    }
}

.present_mask-mobile {
    display: none;

    @include mobile() {
        display: block;
    }
}

.present_btn {
    margin: auto;
    margin-bottom: 28vh;
    position: relative;
    z-index: 9;
    text-align: center;

    @include tablet() {
        margin-bottom: 50px;
    }
}

.present_text {
    position: absolute;
    width: 241px;
    height: 98px;
    z-index: 7;
    top: 40%;
    transform: translateZ(0);

    @include tablet() {
        display: none;
    }
}

.present_text-left {
    left: 17%;

    @include tablet() {
        left: 1%;
    }
}

.present_text--right {
    right: 17%;

    @include tablet() {
        right: 1%;
    }
}

.present_block {
    position: absolute;
    width: 241px;
    height: 25px;
    z-index: 6;
    top: 43%;
    transform: translateZ(0);

    @include tablet() {
        display: none;
    }
}

.present_block-left {
    left: 16%;

    @include tablet() {
        left: 1%;
    }
}

.present_block--right {
    right: 18%;

    @include tablet() {
        right: 1%;
    }
}