.services-call_wrap {
  max-width: 1170px;
  padding: 0 15px;
  padding-top: 80px;
  margin: 0 auto;

  @include mobile() {
    padding-top: 50px;
  }
}

.services-call_text {
  column-count: 2;
  column-width: 570px;
  column-gap: 30px;
}

.services-call_title {
  @include tablet() {
    text-align: center;
  }
}