.services-form_wrap {
  max-width: 1170px;
  padding: 0 15px;
  padding-top: 100px;
  margin: 0 auto;
}

.services-form_wrap--padding {
  padding-top: 250px;
}

.services-form {
  input {
    font-size: 16px;
    line-height: 20px;
    color: #797FA0;
  }
}