.about-prev
    .about-prev_container
        .about-prev_container-content
            h4.about-prev_content-title.main-title События от детского до&nbsp;галактического масштаба
            .about-prev_content-text
                p Наслаждаться жизнью — удивительный навык, спасающий от рабочего застоя и рутинности. Но есть подвох. Чем чаще тренируешь эту полезную привычку, тем реже чувствуешь действительно яркие эмоции.
                p А от различных суетных забот, связанных с организацией личных и корпоративных мероприятий — так и подавно. В этой ситуации два выхода: дальше скучать на застольях или же организовать настоящий праздник!
        .about-prev_container-img
            img(src="assets/images/content/space-man.png", alt="space-man")
    .about-prev_counter
        ul.about-prev_counter-list
            li.about-prev_counter-item
                .about-prev_counter-num 16 548
                .about-prev_counter-text клиентов
            li.about-prev_counter-item
                .about-prev_counter-num 856
                .about-prev_counter-text Событий
            li.about-prev_counter-item
                .about-prev_counter-num 57
                .about-prev_counter-text Сотрудников