.big-form
    .big-form_form
        form(action="#", method="post")
            .big-form_title.big-form_title--margin Обсудим?
            .big-form_container
                label.call-form_label
                    .call-form_label-text Меня зовут
                    fieldset.call-form_label-fieldset
                        legend Ваше имя
                        input(type="text" placeholder="Как к вам обращаться")
                label.call-form_label
                    .call-form_label-text Я хочу уложиться в бюджет
                    fieldset.call-form_label-fieldset
                        legend Ваш бюджет
                        input(type="text" placeholder="Выберите диапазон цен")
                label.call-form_label
                    .call-form_label-text и провести незабываемый праздник
                    fieldset.call-form_label-fieldset
                        legend Выберите событие
                        input(type="text" placeholder="Что вы празднуете")
                label.call-form_label
                    .call-form_label-text в этот день
                    fieldset.call-form_label-fieldset
                        legend Выберите дату
                        input(type="date" placeholder="ДД.ММ.ГГГГ")
                label.call-form_label
                    .call-form_label-text с вашей помощью. Вы можете связаться со мной, позвонив по этому номеру
                    fieldset.call-form_label-fieldset
                        legend Телефон
                        input(type="text" placeholder="+380 (__) ___ __ __")
                div.call-form_label-text Спасибо!
            .big-form_title Все услуги
            .big-form_text Выберите пункты услуг, которыми хотели бы украсить свой праздник
            .big-form_container
                - var bigFormCheckBox = ['Разработка сценария мероприятия','Квест','Декор','Квест на местности','Фотограф','Выпечка','Оператор','Шарики','Ведущий','Аквагрим','Диджей','Аренда звуковой аппаратуры','Аниматор','Аренда световой аппаратуры','Шоу балет','Вокалист','Фокусы','Кавер группа','Мастер класс'];
                each item in bigFormCheckBox
                    label.big-form_label.big-form_label-checkbox
                        input(type="checkbox", name="").big-form_checkbox
                        .big-form_label-text #{item}
            .big-form_title Не нашли то, что хотели бы добавить?
            .big-form_text Напишите в поле недостающие пункты, которые вы бы хотели, чтобы мы организовали
            textarea(name="" placeholder="Ваши комменарии и пожелания").big-form_textarea
            button(type="submit").button.big-form_btn Выбрать