.hww
    h4.hww_title Как мы работаем
    ul.hww_content
        li.hww_content-item
            .hww_item-title Наша миссия
            .hww_item-icon
                img(src="assets/images/icons/hww-1.svg", alt="icon")
            .hww_item-text Создавать не ивенты, а яркие воспоминания
        li.hww_content-item
            .hww_item-title Наша философия
            .hww_item-icon
                img(src="assets/images/icons/hww-2.svg", alt="icon")
            .hww_item-text Не лить воду, говорить честно, не парить своими проблемами и париться о проблемах своих клиентов.
        li.hww_content-item
            .hww_item-title Наше всё
            .hww_item-icon
                img(src="assets/images/icons/hww-3.svg", alt="icon")
            .hww_item-text Наши KPI – ваше счастье