.little-card
    .little-card_title Обычный </br>план
    ul.little-card_list
        li.little-card_list-item Стандартный подход
        li.little-card_list-item Так же, как и у других
        li.little-card_list-item Команда потерялась
        li.little-card_list-item На тяп-ляп