.main-card
    .main-card_title Персональный план
    ul.main-card_list
        li.main-card_list-item Индивидуальный подход
        li.main-card_list-item Неповторяемое событие
        li.main-card_list-item Команда профессионалов
        li.main-card_list-item Слаженость и профессионализм
    .main-card_btn
        a(href="#").button.button--color Выбрать