.main-form
    .main-form_title.main-title У вас появился вопрос?
    .main-form_text Задайте его нам
    form(action="#", method="post").main-form_form
        label.main-form_form-label
            input(type="text" placeholder="Ваше имя" required).main-form_form-input
        label.main-form_form-label
            input(type="text" placeholder="Ваш номер телефона" required).main-form_form-input
        label.main-form_form-label
            input(type="text" placeholder="Ваш вопрос").main-form_form-input
            button(type="submit").button.main-form_btn Отправить