mixin nav(mod)
    nav(class='nav nav--' + mod)
        ul.nav_list
            li.nav_list-item
                a(href="index.html").nav_item-link Главная
            li.nav_list-item
                a(href="about.html").nav_item-link О нас
            li.nav_list-item
                a(href="directions.html").nav_item-link Направления
            li.nav_list-item
                a(href="services.html").nav_item-link Услуги
            li.nav_list-item
                a(href="contacts.html").nav_item-link Контакты