.portfolio
    ul.portfolio_list
        - var portfolioList = [ {title: 'Детский День рождения Ани', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-1.png'},{title: 'Детский День рождения Тани', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-2.png'}, {title: 'Детский День рождения Оли', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-3.png'}, {title: 'Детский День рождения Толика', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-4.png'}, {title: 'Детский День рождения Жени', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-5.png'}, {title: 'Детский День рождения Олега', text: 'кафе с аниматорами и трогательным зоопарком', src: 'assets/images/content/portfolio-6.png'}];
            each item in portfolioList 
                li.portfolio_list-item
                    a(href="portfolio-page.html").portfolio_list-item-link
                        .portfolio_item-img
                            img(src=item.src, alt="portfolio")
                        .portfolio_item-desc
                            .portfolio_item-desc-title #{item.title}
                            .portfolio_item-desc-text #{item.text}
