html {
    scrollbar-color: #7785FF #000000;
    scrollbar-width: thin;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    line-height: 160%;
}

a {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

input {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7785FF;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3545cb;
}