.wrapper {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #15162D;
  padding-top: 95px;
  position: relative;
  z-index: 3;
}

.wrapper--color-none {
  background-color: transparent;
}