.wrapper {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #15162D;
  padding-top: 95px;
  position: relative;
  z-index: 4;
}

.wrapper--color-none {
  background-color: transparent;
}

.bg-wraper {
  background-image: url('../images/icons/stars_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}